{
    "presets": [
        ["env", {
            "modules": false
        }],
        "stage-2"
    ],
    "comments": false,
    "plugins": [
    	"transform-runtime",
    	"transform-react-jsx"
  	]
}
